Repository tatthien/church-equipment: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run --cwd packages/api lint, bun run --cwd packages/web lint

style: add react, react-hooks to eslint
  bun.lock
  eslint.config.js
  package.json
  packages/web/src/app/layout.tsx
  packages/web/src/app/page.tsx
  packages/web/src/lib/auth.tsx
Due: bun run --cwd packages/web lint

refactor: using postgresql instead of sqlite
  bun.lock
  packages/api/package.json
  packages/api/prisma.config.ts
  packages/api/prisma/migrations/20260103053458_init_database/migration.sql
  packages/api/prisma/migrations/20260105021716_add_role_to_user/migration.sql
  packages/api/prisma/migrations/20260105074144_change_id_to_cuid/migration.sql
  packages/api/prisma/migrations/20260110151951_init_database/migration.sql
  packages/api/prisma/migrations/migration_lock.toml
  packages/api/prisma/schema.prisma
  packages/api/src/db/prisma.ts
Due: bun run --cwd packages/api lint

feat: add Dockerfile
  packages/api/.dockerignore
  packages/api/Dockerfile
Due: none

chore: upgrade next/react/mantine to the latest version
  bun.lock
  packages/web/next-env.d.ts
  packages/web/package.json
  packages/web/src/components/EquipmentDrawer.tsx
  packages/web/src/lib/schemas.ts
Due: bun run --cwd packages/web lint

fix(web): invalid data type of purchse date field
  packages/web/src/components/EquipmentDrawer.tsx
Due: bun run --cwd packages/web lint

feat: add user relation to brand and deparment
  packages/api/prisma/migrations/20260112145405_init_database/migration.sql
  packages/api/prisma/schema.prisma
  packages/api/src/routes/brands.ts
  packages/api/src/routes/departments.ts
  packages/api/src/schemas/brands.ts
  packages/api/src/schemas/departments.ts
  packages/api/src/scripts/seed.ts
  packages/web/src/app/brands/page.tsx
  packages/web/src/app/departments/page.tsx
  packages/web/src/types/schemas.d.ts
Due: bun run --cwd packages/api lint, bun run --cwd packages/web lint

chore: add agent rules
  .agent/rules/code-style-guide.md
  .agent/rules/git.md
  .gemini/GEMINI.md
Due: none

chore(api): update seed script with meaningful data and confirmation
  packages/api/src/scripts/seed.ts
Due: bun run --cwd packages/api lint

Path conditions:
  bun run --cwd packages/api lint: any of: packages/api/**/*.{js,ts}
  bun run --cwd packages/web lint: any of: packages/web/**/*.{js,jsx,ts,tsx}
